---
// Props
export interface Props {
	title: string;
	description: string;
	imageUrl: string;
}

const { title, description, imageUrl } = Astro.props;

// Assets
import "@fontsource/inter";

// Components
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- OpenGraph -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={imageUrl} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={imageUrl} />

		<script
			src="https://cdn.usefathom.com/script.js"
			data-site="LARYKSES"
			defer
		></script>

		<script src="https://getsendstack.com/js/form.js" defer></script>

		<style>
			html,
			body {
				font-family: "Inter", sans-serif;
				scroll-behavior: smooth;
			}
		</style>
	</head>
	<body>
		<slot />

		<Footer />
	</body>
</html>
